{{template templates.head mode}}
<html>

{{navigation mode "_practices" "alberta-oil-stories"}}
<div class="content">
{{markdown markdown.alberta-oil-stories}}
</div>
</html>
{{template templates.footer mode}}
