{{template templates.head mode}}
<html>

{{navigation mode "_practices" "community-outreach"}}
<div class="content">
{{markdown markdown.community-outreach}}
</div>
</html>
{{template templates.footer mode}}
