{{template templates.head mode}}
<html>

{{navigation mode "demo"}}
<div class="iframewrapper">
    <iframe src="http://igemuoft.github.io/consortiaflux"></iframe>
</div>
</html>
{{template templates.footer mode}}
