{{template templates.head mode}}
<html>

{{navigation mode "project" "description"}}
<div class="content" id="content-main">
{{markdown markdown.description}}
</div>

</html>
{{template templates.footer mode}}
