{{template templates.head mode}}
<html>

{{navigation mode "_practices" "technology-applications"}}
<div class="content">
{{markdown markdown.technology-applications}}
</div>
</html>
{{template templates.footer mode}}
