{{template templates.head mode}}
<html>

{{navigation mode "_practices" "technomoral-scenarios"}}
<div class="content">
{{markdown markdown.technomoral-scenarios}}
</div>
</html>
{{template templates.footer mode}}
